.taskTitle {
    font-size: 40px;
    line-height: 44pt;
}

.taskDescription {
    display: flex;
    justify-content: center;
    align-content: space-around;
    font-size: 20px;
}

.taskExpTime {
    font-size: 24px;
    color: darkblue;
}