.header {
    border: solid;
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {

}

.title {

}

.userInfo {

}